<style>

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    padding: 10px;
}

.card_title{
    max-width: 300px;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

a{
    text-decoration: none;
    color: #000;
}

.card_container{
    position: relative;
}

.card_hat{
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 5px;
    background: #17a2b8;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: -1px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}


</style>
<div class="card">
    <a href="#">
        <div class="card_container">
            <img src="https://picsum.photos/300/200" alt="random image">
            <span class="card_hat">Máuris</span>
        </div>
        <p class="card_title">Lorem ipsum dolor sit amet, adipiscing elit. Vivamus volutpat ex nisl, ac hendrerit est imperdiet vitae.</p>
    </a>
</div>