<style>
    iframe{
        width: 320px;
        height: 320px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, auto));
        justify-content: center;
        /* grid-template-rows: auto; */
    }
</style>
<div class="container">
    <iframe src="ex1.html" frameborder="0"></iframe>
    <iframe src="ex1.html" frameborder="0"></iframe>
    <iframe src="ex1.html" frameborder="0"></iframe>
    <iframe src="ex1.html" frameborder="0"></iframe>
    <iframe src="ex1.html" frameborder="0"></iframe>
    <iframe src="ex1.html" frameborder="0"></iframe>
</div>