<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

    iframe {
        width: 320px;
        height: 320px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, auto));
        justify-content: center;
    }

    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    padding: 10px;
}

.card_title{
    max-width: 300px;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

a{
    text-decoration: none;
    color: #000;
}

.card_container{
    position: relative;
}

.card_hat{
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 5px;
    background: #17a2b8;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: -1px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}
</style>
<div class="container">
    <div class="card">
        <a href="#">
            <div class="card_container">
                <img src="https://picsum.photos/300/200" alt="random image">
                <span class="card_hat">Máuris</span>
            </div>
            <p class="card_title">Lorem ipsum dolor sit amet, adipiscing elit. Vivamus volutpat ex nisl, ac hendrerit est imperdiet vitae.</p>
        </a>
    </div>
</div>

<script>
    for(let i=0; i < 5; i++){
    document.getElementsByClassName('container')[0].appendChild(document.getElementsByClassName('card')[0].cloneNode(1));
    }

    const randomStiling = {
        0: () => document.querySelectorAll('p').forEach(e => e.style.color='brown'),
        1: () => document.querySelectorAll('img').forEach(e => e.style.filter = 'brightness(0.1)'),
        2: () => document.querySelector('body').style.background = 'cadetblue', 
        3: () => document.querySelectorAll('.card_hat').forEach(e => e.style.background = 'red'), 
        4: () => document.querySelectorAll('.card').forEach(e => e.style.border = '1px dotted brown'), 
        5: () => document.querySelectorAll('.card_hat').forEach(e => e.style.color = 'black'), 
    };

    randomStiling[Math.floor(Math.random() * Object.keys(randomStiling).length)]();
    
</script>